<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>user-detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="user-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-card>
          <ion-card-content class="ion-text-center">
            <img src="{{user.image}}" alt="">
            <ion-card-title>{{user.name}}</ion-card-title>
            <p>{{user.status}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
